@using Microsoft.AspNetCore.Mvc.Localization
@using CacheLockDemo.Localization
@inject IHtmlLocalizer<CacheLockDemoResource> L
<a class="btn" role="button" href="~/Account/Login"><i class="fa fa-sign-in me-1"></i> @L["Login"]</a>
